/* What CSS is */
p{
    color: red;
}

span{
    color: blue;
}

/* Why seperate form from fiction */
p{
    font-size: 100px;
}

span{
    font-family: cursive;
}

/* Link it up */
p{
    font-size: 44px;
}

/* Syntax for the wintax */
p{
    color: green;
}

/* One selector, many properties */
p{
    color:green;
    font-family: Garamond;
    font-size:24px;
}

/* Many selectors, many properties */
h3{
    color:red;
}

p{
    font-family:Courier
}

span{
    background-color:yellow;
}

/* The importance of semicolons */
h3{
   font-family: Verdana;
   color: blue;
}

p{
   font-family: Garamond;
   font-size: 16px;
}

/* Comment it out */
/*
p {
  color:red;
}
*/

/* Check yourself before you wreck yourself */
h1{
    font-family:Verdana;
}

h3{
    font-family:Courier;
}

p{
    color:purple;
}

/*I am so cool*/

/* Hexawhatnow */
h1{
  color: #8B1C62;
}

h2{
  color: #FF7256;
}

h3{
  color: #FFC125;
}

h4{
  color: #54FF9F;
}

h5{
  color: #530EE8;
}

h6{
  color: #8B668B;
}

/* Roses are Red */
h3{
    color:#cc6666;
}

h2{
    color:#8a2be2;
}

/* A font of knowledge */
h1{
    font-family:serif;
}

h2{
    font-family:sans-serif;
}

h3{
    font-family: cursive ;
}

/* Backup Values */
h1{
    font-family:Times, serif;
}

h2{
    font-family:Verdana, sans-serif;
}

h3{
    font-family: Vivaldi, cursive ;
}

/*  background, color, height, and width  */
div{
    background-color: #cc0000;
    height: 100px;
    width: 100px;
}

/* Bordering on insanity */
td{
    height: 50px;
    border: 1px dashed blue;  
}

table{
    border: 1px solid black;
}

/* Links and text decoration */
a{
    color:#cc0000;
    text-decoration:none;
}

/* Many selectors, many properties, Fall Back */
h1{
    font-family: Verdana, sans-serif;
    color: #576D94;
}

p{
    font-family:Garamond, serif;
    font-size: 18px;
    color: #4A4943;
}

/* Size and borders */
h1{
    font-family: Verdana, sans-serif;
    color: #576D94;
}

p{
    font-family:Garamond, serif;
    font-size: 18px;
    color: #4A4943;
}

img{
    height: 100px;
    width: 300px;
    border: 1px solid #4682b4;
}

a{
    text-decoration:none;
    color:#cc0000;


/* ============================================  */
/* Build a Button for Your Website */
